div.row
  div.col.s4.center-align
    i.material-icons.large account_circle
    p {{ instructor.profile.name.first }} {{ instructor.profile.name.last }}
    p {{ instructor.profile.email }}
  div.col.s5
   