div.card-panel
  div.section
    instructor-description([instructor]="instructor")
  div.divider
  div.section
    h4 My Courses
    a.waves-effect.waves-circle.waves-light.btn-floating([routerLink]="'/course/new'")
      i.material-icons add