
div(*ngIf="module")
  p {{ module.name }}

  div(*ngFor="let lesson of module.lessons")
    p {{ lesson.name }}
  
  button.btn.btn-waves(
    (click)="addLesson()"
    [disabled]="!canAddLesson()") Add Lesson