
div(*ngIf="module")

  p {{ module.name }}
  div.btn.btn-waves.floating-effect((click)="goBack()") Back

  div(*ngFor="let lesson of module.lessons")
    p {{ lesson.name }}
    button.btn.btn-waves((click)="editLesson(lesson)") Edit Lesson
    button.btn.btn-alert((click)="deleteLesson(lesson)") Delete Lesson
  
  button.btn.btn-waves(
    (click)="addLesson()"
    [disabled]="!canAddLesson()") Add Lesson