//- Insert footer stuff here and delete this comment when youre done :P

footer.page-footer
  div.row.valign-wrapper
      div.col.s5
      a.brand-logo.center-align.col.s2(href="#")
          img.logo(src="http://artofmetrics.com/wp-content/uploads/2016/01/header-retina.png" alt="Art of Metrics logo")  
      div.col.s3
      a.col.s2(href="#") Facebook
  div.row.link-container.grey.lighten-3
    ul.footer-items.center-align.col.m10.offset-m1.s12
      li
        a.blue-grey-text.text-lighten-1(href="#") FAQ
      li
        a.blue-grey-text.text-lighten-1(href="#") PRIVACY
      li
        a.blue-grey-text.text-lighten-1(href="#") ABOUT
      li
        a.blue-grey-text.text-lighten-1(href="#") TERMS OF USE
      li
        a.blue-grey-text.text-lighten-1(href="#") CONTACT
  //- div.footer-copyright
  //-   div.container © 2017 Art of Metrics
