
footer.page-footer
  padding-top 0
  padding-bottom 0
  margin-bottom 0
  background-color #fff

.row
  padding 0
  margin-bottom 0
  border-top 1px solid #bdbdbd

.logo-container
  padding-left 10px
  padding-right 10px

.brand-logo
  margin-top 0
  margin-bottom 0
  padding-top 0
  padding-bottom 0


.logo
  height 53.778px
  width 55px
  padding 5px 5px
  border-left 1px solid #bdbdbd
  border-right 1px solid #bdbdbd

//styling footer item Links
.footer-items
  color #000
  display flex
  justify-content space-between
  list-style-type none

.footer-items a
  display block
  padding 10px 25px

ul
  margin-bottom 0px
