form(#form="ngForm")
  //- Annual Course Price
  div#edit-annual-course-price
    h5 Annual Course Price
    div.divider
    div.input-field
      input(
        type="number"
        name="annual-course-price"
        [(ngModel)]="annualPriceCents"
        (change)="setPrice($event, 'annual')"
      )
  //- Semester Course Price
  div#edit-semester-course-price
    h5 Semester Course Price
    div.divider
    div.input-field
      input(
        type="number"
        name="semester-course-price"
        [(ngModel)]="semesterPriceCents"
        (change)="setPrice($event, 'semester')"
      )