div
  button.btn.btn-waves((click)="editModule()") Edit Module
  p {{ module.name }}

  p {{ Module.description }}
//- div
//-   form(#form="ngForm" novalidate (ngSubmit)="saveModule()")
//-     button.btn.btn-waves(type="submit") Save {{ module.name }} Module

//-     //- Module Name
//-     div.input-field
//-       i.material-icons.prefix mode_edit
//-       input(
//-         type="text"
//-         [attr.id]="generateId('name')"
//-         name="module-name"
//-         [(ngModel)]="module.name")
//-       label([attr.for]="generateId('name')" [class.active]="!!module.name" validate) Name
    
//-     //- Module Description
//-     div.input-field
//-       i.material-icons.prefix mode_edit
//-       textarea.materialize-textarea(
//-         [attr.id]="generateId('description')"
//-         name="module-description"
//-         [(ngModel)]="module.description")
//-       label([attr.for]="generateId('description')" [class.active]="!!module.description" validate) Description

      //- Lessons