div.card.horizontal.col.s6.offset-s3
  div.card-stacked
    div.card-content
      div.card-title
        h3 {{ module.name }}
      p Visible To Students: {{ module.isVisible }}
      p {{ module.name }}

      p {{ module.description }}
  div.card-action
    div.btn-floating.btn-large.yellow((click)="editModule()")
      i.material-icons mode_edit
    div.btn-floating.btn-large.red((click)="deleteModule()")
      i.material-icons delete
    
