div.container
  //- Course Description Header
  div.form
    form(novalidate #form="ngForm" name="createCourseForm")
      div.row
        //- Course name
        div.col.s6.offset-s3
          div.input-field
            input#create-course-name(
              type="text"
              name="create-course-name"
              [(ngModel)]="course.data.name")
            label(for="create-course-name") Course Name
  //- div.row
  //-   div.col.s6.offset-s3
      
  //- div.row
  //-   //- Modules Sidebar
  //-   div.col.s3
  //-     a.waves-effect.waves-light.btn#add-module-btn((click)="addModule()")

