@require '../../../global-styles/variables'

// Remember no global styles so we can edit div like this without worrying about other divs
div
  font-size: 20px
  font-family: $brand-header-font
  
// Course Name Styles
#create-course-name
  font-size: 20px
