div.container#profile
  div.row
    div.col.s4.offset-s4(*ngIf="userService.isLoggedIn()")
      h2.header {{userService.$.fullName() }}

      div.divider

      div.section(*ngIf="activeCourses")
        h3 My Active Courses
        div.divider
        div(*ngFor="let course of activeCourses")
          div.row
            a([routerLink]="['/course', course.slug]") {{ course.data.name }}
        div(*ngIf="!activeCourses.length")
          div You aren't actively subscribed to any courses yet
      
      br

      div.section(*ngIf="completedCourses")
        h3 My Completed Courses
        div.divider
        div(*ngIf="!completedCourses.length")
          | You haven't completed any courses yet
        div(*ngIf="completedCourses.length")
          div(*ngFor="let course of completedCourses")
            a([routerLink]="['/course', course.slug]") {{ course.data.name }}

      //- Payment
      div.section
        h3 Payment
        div.divider
        div(*ngIf="!card")
          | You have no payment method on file.
          div((click)="addCreditCard()") Add Credit cards
        div(*ngIf="card")
          div {{ card.last4 }}