@import '../../global-styles/variables.styl'
@import '../../global-styles/buttons.styl'

.pointer
  cursor: pointer;
  
.register-form-component
  font-family: $brand-header-font

input.ng-invalid.ng-dirty
  border: solid red 2px
input.ng-valid.ng-dirty
  border: solid green 2px