@import '../global-styles/variables.styl'
@import '../global-styles/buttons.styl'

// Background color for top section of home page (dark blue)
home-section-one-bg = #e57373
home-section-two-bg = $brand-green

// General Spacing classes
.padded
  padding: 20px

// General classes
.pointer
  cursor: pointer


#home-section-one
  background-color: home-section-one-bg

  .home-header
    font-family $brand-header-font

#home-section-two
  background-color home-section-two-bg
  .icon-row
    padding-top: 40px
    padding-bottom: 40px

#home-section-three
  background-color: $brand-peach
  font-family: $brand-header-font

  .course-thumb
    width: 33%;
    list-style: none
    float: left
    .course-image
      width: 50%;
      height: 50%;

    .course-image > img
      width: 100%
      height: 100%
    span
