.carousel.slide#home-carousel
  ol.carousel-indicators
    li.active(data-target="#home-carousel" data-slide-to="0")
    li(data-target="#home-carousel" data-slide-to="1")
  div.carousel-inner(
    role="listbox"
    align="center")
    .item.active.aom-item-container
      img.img-responsive.home-carousel-img(
        alt="Carousel Image 1" 
        src="https://images.unsplash.com/photo-1473042904451-00171c69419d?dpr=1&auto=format&fit=crop&w=767&h=495&q=80&cs=tinysrgb&crop=")
      .carousel-caption
        //- Put caption when ready
    .item.aom-item-container
      img.img-responsive.home-carousel-img(alt="Carousel Image 2" src="https://images.unsplash.com/photo-1474447202275-ba85b0fa7d82?dpr=2&auto=format&fit=crop&w=1500&h=844&q=80&cs=tinysrgb&crop=")
      .carousel-caption
        //- Put caption when ready