div.edit-drip-component
  h3 Editing Drip
  form(novalidate #form="ngForm")
    //- Drip Title
    div.input-field
      input#drip-title(
        type="text"
        name="drip-title"
        [(ngModel)]="drip.title")
      label(for="drip-title") Title
    //- Drip text
    div.input-field
      textarea([htmlEditor] (onDripText)="editDrip($event)" [dripText]="drip.text")#aom-text-editor
    
    //- Save
    button.btn.btn-waves((click)="persist()") Save
  