div.edit-drip-component
  h3 Editing Drip
  form(novalidate #form="ngForm")
    //- Drip Title
    div.input-field
      input#drip-title(
        type="text"
        name="drip-title"
        [(ngModel)]="drip.title")
      label(for="drip-title") Title
    
    //- Quiz
    div((click)="addQuestionQuiz()")
    div(*ngIf="drip.questionQuiz")
      p {{ drip.questionQuiz}}
    //- Drip text
    div.input-field
      textarea(
        [htmlEditor] 
        (onDripText)="editDrip($event)" 
        [dripText]="drip.text")#aom-text-editor
    
    //- Save
    button.btn.btn-waves((click)="persist()") Save
  