div.switch
  label
    | {{ languages[0] }}
    input(type="checkbox" (click)="toggle()" [checked]="language === 'R'")
    span.lever(
      [class.toggledLeft]="language === 'STATA'"
      [class.toggledRight]="language === 'R'")
    | {{ languages[1] }}
