// Fonts
$brand-header-font = Monaco, sans-serif

// Colors
$brand-green = #6ACABC
$brand-brown = #543736
$brand-gold = #FEC500
$brand-yellow = #FEDF00
$brand-red = #70CEC2
$brand-peach = #FCC9A4
$brand-light-background-header = #FCC9A4