nav.navbar.navbar-light.bg-faded#top-menu
  a.navbar-brand(href="#") {{ title }}
  //- Nav links
  ul.nav.navbar-nav
    li.nav-item(*ngFor="let link of links")
      a.nav-link(href="{{ link.href }}") {{link.name}}