.navbar-fixed
  nav#top-menu.z-depth-0
      .nav-wrapper
        a.brand-logo.left([routerLink]="homeHref")
          img#logo.responsive-img(src="http://artofmetrics.com/wp-content/uploads/2016/01/header-retina.png")
        //- Nav links
        ul#nav-mobile.right.hide-on-small-and-down
          li.nav-item(*ngFor="let link of links")
            a.nav-link.black-text([routerLink]="link.href") {{link.name}}
          
