nav.navbar.navbar-light.bg-faded#top-menu
  a.navbar-brand([routerLink]="homeHref") {{ title }}
  //- Nav links
  ul.nav.navbar-nav
    li.nav-item(*ngFor="let link of links")
      a.nav-link([routerLink]="link.href") {{link.name}}