div.container(*ngIf="studentCourse")
  div.row
    div.col.s12.m6.offset-m3
      div.row
        h2.header {{ studentCourse.data.name }}
      course-expiration([studentCourse]="studentCourse")
      div.card.horizontal
        div.card-stacked
          div.card-content
            div.row
              div.col.s4
                p {{ studentCourse.data.description }}
                br
                p Difficulty: {{ studentCourse.difficulty }}
                br
              div.col.s4.push-s4
                h6.header Taught by
                p(*ngFor="let instructor of instructors") {{ instructor.fullName() }}
          
          //- Active Language
          toggle-language(
            [default]="studentCourse.data.activeLanguage"
            (toggleLanguage)="setActiveLanguage($event)")
          div.card-action
            div.btn.btn-waves((click)="sendStartCourse()") Get Started
