div.container
  student-course-header([studentCourse]="studentCourse")
  toggle-language(
    *ngIf="studentCourse.data.modules.R.length && studentCourse.data.modules.STATA.length"
    (toggleLanguage)="setLanguage($event)")
  active-module(
    [module]="activeModule" 
    [studentCourse]="studentCourse"
    (continueOn)="continueOn($payload)"
    *ngIf="studentCourse")
