div(*ngIf="state === 'BEGIN'")
  begin-course(
    [studentCourse]="studentCourse" 
    [instructors]="instructors" 
    (startCourse)="startCourse($event)")
div(*ngIf="state === 'CONTINUE'")
  continue-course([studentCourse]="studentCourse" *ngIf="studentCourse")
div(*ngIf="state === 'RESUBSCRIBE'")
  resubscribe-course([studentCourse]="studentCourse" *ngIf="studentCourse" [instructors]="instructors")