div(*ngIf="state === 'BEGIN'")
  begin-course([studentCourse]="studentCourse" [instructors]="instructors" (startCourse)="startCourse()")
div(*ngIf="state === 'CONTINUE'")
  continue-course([studentCourse]="studentCourse" *ngIf="studentCourse")
