div.container
  div.row
    div.col.m12.s8.offset-s4

      //- Name and description
      div.section
        h5 {{ course.data.name }}
        div
      
      //- Instructors
      div.section
        h6 Instructors
        div(*ngFor="let instructor of instructors")
          p {{ instructor.fullName() }}
          //- p {{ instructor.fullName() }}
          
      //- Course description
      div.section
        h6 Course description
        div {{ course.data.description }}

      //- Subscribe
      div.section
        div.btn.btn-waves((click)="startPayment()") Subscribe
      
div(*ngIf="subscribing")
  div
    h4 Subscribe to {{ course.data.name }}
    div.btn.btn-waves((click)="addCreditCard()") Add Credit Card
    add-credit-card-form(*ngIf="state.addingCard" (onSubmitCard)="onSubmitCard($event)")
