div.container
  div.row
    div.col.s3
      img(src="{{ course.data.photos[0].url }}")
    div.col.s6.push-s3
      div.section
        h3.header {{ course.data.name }}
        p {{ course.data.modules.R.length }} module(s) in R
        p {{ course.data.modules.STATA.length }} module(s) in STATA
      //- Name and description
      div.divider
      //- Instructors
      div.section
        h6 Instructors
        div(*ngFor="let instructor of instructors")
          p {{ instructor.fullName() }}
      
      //- Difficulty
      div.section
        h6 Difficulty
        p {{ course.difficulty }}
      
      //- Course description
      div.section
        h6 Course description
        div {{ course.data.description }}
      
      //- Set Language
      div.section
        toggle-language(
          [default]="activeLanguage"
          (toggleLanguage)="setActiveLanguage($event)")
      //- Subscribe
      div.section
        div.btn.btn-waves((click)="startPayment()") Subscribe
      
div(*ngIf="subscribing")
  div
    h4 Subscribe to {{ course.data.name }}
    div.btn.btn-waves((click)="addCreditCard()") Add Credit Card
    add-credit-card-form(*ngIf="state.addingCard" (onSubmitCard)="onSubmitCard($event)")
