form#payment-form((submit)="submitCard($event)")
  .form-row
    label(for='card-element')
      | Credit or debit card
    #card-element
      
    #card-errors
  button.btn.btn-waves(type="submit") Submit Payment
