mixin course-button(text)
  button.btn.btn-waves.waves-light&attributes(attributes)= text

//- Student Image
div.row
  div.col.s4.center-align
    i.material-icons.large account_box
    //- user info
    div
      p {{ student.profile.name.first }} {{ student.profile.name.last }}
      p {{ student.profile.email }}
  div.col.s8
    //- Current Courses
    p Current Courses: {{ subscribedCourses.length }}