mixin table-header(options)
  div.col.s3.center-align
    | Course Name
  div.col.s3.center-align
    | Subscribed Until
  div.col.s3.center-align
    | #{options.completed ? 'Expired' : 'Current Module'}
  div.col.s3.center-align
    | Current Language

div.card-panel
  //- Student Description Section
  div.section
    student-description(
      [student]="student")
  div.divider

  div.container
    h2.header Subscribed Courses ({{ subscribedCourses.length }})
    //- table header
    div.row
      +table-header({ completed: false })

    div.divider

    //- table row
    div.row(*ngFor="let course of subscribedCourses")
      div.col.s3.center-align
        a([routerLink]="['/course', course.slug]")
          h6.header {{ course.data.name }}
      div.col.s3.center-align
        div {{ course.expirationDate().format('MMM Do, YYYY') }}
      div.col.s3.center-align
        a([routerLink]="['/course', course.slug]")
          h6.header {{ course.getActiveModule({ language: course.data.activeLanguage })?.name }}
      div.col.s3.center-align
        h6.header {{ course.data.activeLanguage }}
  
  div.container(*ngIf="completedCourses.length")
    h2.header Completed Courses ({{ completedCourses.length }})

    div.row
      +table-header({ completed: true })
    
    div.divider
    
    div.row(*ngFor="let course of completedCourses")
      div.col.s3.center-align
        a([routerLink]="['/course', course.slug]")
          h6.header {{ course.data.name }}
      div.col.s3.center-align
        div {{ course.expirationDate().format('MMM Do, YYYY') }}
      div.col.s3.center-align
        a([routerLink]="['/course', course.slug]")
          h6.header {{ course.isExpired() ? 'Expired' : 'Subscribed' }}
      div.col.s3.center-align
        h6.header {{ course.data.activeLanguage }}

