div#app-component
  header(*ngIf="!isLoggedIn")
    top-menu([title]="applicationTitle" )
  div.container
    div.row
      div.col.s1
        aom-sidebar-toggle(*ngIf="isLoggedIn")
      div.col.s12
        view-wrapper
          router-outlet
  aom-sidebar
  
  aom-footer