@import '../../../../global-styles/variables.styl'

#active-module
  font-family: $brand-font
  
.drip-row
  font-family: $brand-header-font
  background-color: $brand-light-background-header
  height: 50px
  border-radius: 5px
  padding: 10px
  .drip-header
    font-size: 18px